body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: pink; 
    /* background-image: url("saha.png"); */
    overflow: hidden;  
}

 
 #verticle {
    border-left: 4px solid black;
    height: 100%;
    position: absolute;
    left: 51%;
    margin-left: -2px;
}
